body {
  width: 80%;
  margin: 40px auto;
}

#pic-container {
  display: flex;
  justify-content: space-around;
}

#results_container > div {
  margin: 10px;
}

.monospace {
  font-family: monospace;
  font-size: 16px;
}

.headshot {
  height: auto;
  max-width: 100px;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border-style: solid;
  box-shadow: 0px 0px 10px 0px #777;
  font-size: 10px;
}

@media (min-width:500px) {
  .headshot {
    max-width: 150px;
  }

  figcaption {
    font-size: 16px;
  }

  button {
    height: 120px;
    width: 120px;
    box-shadow: 0px 0px 15px 0px #777;
    font-size: 15px;
  }
}

@media (min-width:900px) {
  .headshot {
    max-width: 300px;
  }

  figcaption {
    font-size: 20px;
  }

  button {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border-style: solid;
    box-shadow: 0px 0px 20px 0px #777;
    font-size: 20px;
  }
}

.flex_center {
  width: 100%;
  padding:0;
  display: flex;
  justify-content: center;
}

.flex_center > button {
  margin: 30px;
}

.grey > button, .grey > button:hover, .grey > button:active {
  background-color: #ddd;
  color: #eee;
  box-shadow: 0px 0px 20px 0px #bbb;
}

button:hover {
  background-color: #999;
  color: white;
}

button:active {
  background-color: black;
}

button:focus {
  outline: none;
}

/* Remove highlighting */
::selection {
  background-color: white;
}

::-moz-selection {
  background: white;
}
