body {
  width: 80%;
  margin: 40px auto;
}

#page-container {
  display: flex;
  justify-content: space-around;
}

.headshot {
  height: 400px;
  width: 300px;
}

figcaption {
  font-size: 20px;
  text-align: center;
}
