body {
  width: 80%;
  margin: 40px auto;
}

#pic-container {
  display: flex;
  justify-content: space-around;
}

.headshot {
  height: 400px;
  width: 300px;
}

figcaption {
  font-size: 20px;
  text-align: center;
}

#button_div {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

button {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border-style: solid;
  box-shadow: 0px 0px 20px 0px #777;
  font-size: 20px;
}

.grey > button, .grey > button:hover, .grey > button:active {
  background-color: #ddd;
  color: #eee;
  box-shadow: 0px 0px 20px 0px #bbb;
}

button:hover {
  background-color: #999;
  color: white;
}

button:active {
  background-color: black;
}

button:focus {
  outline: none;
}
